<!DOCTYPE html>
<html>
<head>
  <title>Motivator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Create User", new_user_url %>
<% end %>

<ul>
<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>
</ul>

<%= yield %>

</body>
</html>
